default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5

development:
  <<: *default
  host: <%= ENV['PG_HOST'] %>
  database: tsarchives
  username: postgres
  password: <%= ENV['PG_PASSWORD'] %>

test:
  <<: *default
  database: managemen_console_test

production:
  <<: *default
  host: <%= ENV['PG_HOST'] %>
  database: tsarchives
  username: postgres
  password: <%= ENV['PG_PASSWORD'] %>
